<div class="container">
  <div class="col-sm-6">
    <img src="images/people.jpg" alt="">
  </div>
  <div class="col-sm-6">
    <h1>Welcome!</h1>
    <p> Please check out all the cool new courses by our innovative and creative chefs.</p>
    <p> If you want to see a new course, click <a href="/courses.html">the courses page</a> and explore!</p>
    <p> When you see a course you like you can <a href="/contact.html">contact us to join! </a> Soon you'll be cooking in your own home.</p>
  </div>
   <h2>Users Table</h2>
   <table class = "table">
      <thead>
       <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Zip Code</th>
        <th>Edit</th>
        <th>Delete</th>
       </tr>
      </thead>
     <tbody>
       <% users.forEach(user => {%> 
        <tr>
         <td> <a href = "<%= `/users/${user._id}` %>">
                 <%= user.fullName%>
             </a>    
          </td>
         
          <td><%= user.email %></td>
          <td><%= user.zipCode %></td>
          <td><a href="<%= `/users/${user._id}/edit` %>">Edit</a></td>
          <td><a href="<%= `/users/${user._id}/delete?_method=DELETE` %>"
              onclick="return confirm('Are you sure you want to delete this record?')" >Delete</a></td>
   
       </tr>
      <%}); %>
    </tbody>
    </table>

</div>
